:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color:#000000cc;
    --border-color:#CCC;
}

.no__border {
    border: 0;
}



html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;  
    scroll-behavior: smooth;
}  

.btn {
    padding: 14px 24px;
    color: var(--black-color);
    background: var(--white-color);
    border-radius: 10px;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600;
} 

.underline {
    padding: 8px 0;
}

hr {
    opacity: 0.6;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
 
.navbar__top.sticky {
    background-color: #fff;
    color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    z-index: 100;
    animation: fadeIn linear 0.1s;
}

.navbar__top.sticky .navbar__logo-link {
    color: rgb(255, 56, 92);
}

.navbar__top.sticky .navbar__item-link,
.navbar__top.sticky .navbar__user-link {
    color: black; 
}

.navbar__top.sticky .navbar__item-link:hover,
.navbar__top.sticky .navbar__user-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar__top.sticky .navbar__user-link-icon {
    border: 1px solid #ccc;
}

.navbar__top.sticky .navbar__user-link-icon:hover {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
}